 <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand text-white" href="">CountryApp</a>
            <button class="navbar-toggler border border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon text-white" >
                         <i class="fa-solid fa-bars pt-1" style="color: ;#fff"></i>
                    </span>
                  </button>
            <div class="collapse navbar-collapse ml-auto flex-grow-0" id="navbarSupportedContent" >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item mx-2">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="county">Country</a>
                    </li>


                </ul>

            </div>
        </div>
    </nav>